body {
  margin: 0; padding: 0; text-decoration: none; box-sizing: border-box;
  display: flex; align-items: center; justify-content: center; 
  background-color: #719fc5; color: #ffffff; font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Verdana, sans-serif;
}

header {
  width: 985px; display: flex; align-items: center; justify-content: space-evenly; 
  flex-wrap: wrap; padding: 0; margin: 1px 0;
}

menu {
margin-right: auto; margin-top: 80px; padding: 0; font-size: 17px;
}

nav ul{padding: 0; margin: 0;}

menu nav li{list-style: none; float: left; padding: 0 11px 0 0; margin-right: auto;} 
menu nav a{color: #fff; text-decoration: none;} 
menu nav a:hover{color: #c6e5ff; border-bottom: 1px solid #c6e5ff;}

#logo {
  margin: 0; padding: 0;
} 

#tags {
  border-top: 1px solid #ededee; padding: 0 4px; color: #333333; display: flex; align-items: center;
}

#tags ul{margin: 7px; padding: 0 3px;}

#tags ul li{list-style: none; padding: 0 5px; margin: 0; float: left;}

#tags a{color: #335886;} #tags a:hover{color: #3373c2;}

table{font-size: 15px; margin: 2px 0; text-align: left; 
    color: #555555; border: 1px solid #c4c4c4; border-collapse: collapse;}
    th{background-color: #b5aca7; color: #574f4a; text-align: center; font-size: 16px; font-weight: 400; 
    padding: 8px; border: 1px solid #c4c4c4;}
    td{padding: 6px 8px; border: 1px solid #c4c4c4;} tr{border: 1px solid #c4c4c4;}
    tr:nth-child(odd) {background-color: #EDEDED;}
    tr:nth-child(even) {background-color: #e4e4e4;}

pre{padding: 17px 21px; font-size: 14px; white-space: pre-wrap; background-color: #3b3b3b; border-radius: 9px; overflow: auto;} 

blockquote{margin: 0; padding: 2px 13px; background-color: #f0f0f0; border-left: 3px solid #d5d5d5; color: #707070;}

footer {
  margin-top: 1rem; color: #c0dafa;
}

main {
  width: 1070px; display: flex; justify-content: center; align-items: center; flex-direction: column;
}

content {
  background-color: #fff; color: #505050; width: 90%; 
  box-shadow: 0 7px 15px #333333; padding: 27px; 
  border: 4px solid #A2D5FF; border-radius: 21px;
}

content img {max-width: 760px;}

#pagi{text-align: center; display: flex; align-items: center; justify-content: center; margin: 5px 0;}
#pagi a{background-color: #cdeefc; color: #4f7286; font-size: 15px; padding: 5px 10px; border-radius: 3px;}
#pagi li{margin: 0; padding: 3px; list-style: none; float: left;} #pagi ul{margin: 0; padding: 0;}

time {
  font-size: 11px; color: #a3a3a3;
}

li a{color: #000;}
h1{color: #4589C1; font-size: 25px;} h2{color: #5c5c5c;} h2 a{color: #4589C1;}
h3{font-size: 20px; color: #8d99ad;}
h4{font-size: 18px; color: #718EC3; line-height: 18px;} 
h4 a{color: #555; font-size: 17px; text-decoration: none; text-transform: capitalize;}
h4 a:hover{color: #7F8FCC; transition: 0.7s;}
h5{font-size: 18px; font-weight: normal; color: #595959;}
h6{font-size: 18px; font-weight: normal; color: #454545;}
p {line-height: 23px; font-size: 16px;} 
hr{border: 1px solid #eeeeee;}
a{color: #335886; text-decoration: none;} a:hover{color: #2c66b3;} a:active{color: #000;}

@media (max-width: 1070px) {

  main {width: 100%;}

  header {
    width: 90%;
    justify-content: center;
  }
  
  content {padding: 15px;}
  
  content img {width: 95%;}
  
  #logo img{width: 344px;}
}

@media (max-width: 660px) {
  #logo img{max-width: 244px;} menu {margin-top: 52px;}
}

@media (max-width: 440px) {
  #logo img{max-width: 184px;} menu {margin-top: 37px; font-size: 15px;}
  
  content {padding: 10px; font-size: 15px;} p {font-size: 15px;} h1 {font-size: 21px;}
}
